language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-23.0.1

    # The SDK version used to compile your project
    - android-23

before_script:
    - chmod +x gradlew

#Ignore the fabric step, since we do not have a legit API key for Fabric
script: "./gradlew build
